body{
    margin: 0 auto;
}
.welcome{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(250, 9, 9), rgb(67, 226, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-area{
    margin-left: 5%;
}
h1{
    font-size: 50px;
}
span{
    color: salmon;
}
.btn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: linear-gradient(salmon, red);
    padding: 10px 20px;
    border-radius: 5px;
}
.half-width{
    width: 40%;
    margin: 0 5% 5%;
}
.half-width img{
    width: 80%;
}
.half-width p{
    font-size: 20px;
    text-align: justify;
}
.flex-container{
    display: flex;
}
.information{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: cover;
}
.information h1{
    color: tomato;
}
.item-area{
    align-items: center;
    margin-top: 5%;
}
.Choices{
    text-align: center;
    margin: 0 auto;
    
}
.quater{
  margin-left: 0;
  
}
.quater-width{
    width: 400px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 3px 40px 0 grey;
    margin: 0 3% 3% 3%;
    padding: 2%;
}
.quater-width img{
    border-radius: 20px;
    width: 95%;
    padding: 3%;
       
    
}

.rank{
    text-align: center;
    width: 1280px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 3px 40px 0 grey;
    margin: 0 auto;
    }
.youtube{
    margin-left: 10%;
    padding-left: 10%;
}

.rank h3{
    font-size: 30px;
}
footer{
    font-size: 40px;
    text-align: center;
    height: 250px;
    margin-top: 5%;
    padding-top: 4px;
    background-color: black;
    color: white;
}
footer h5{
    font-size: 20px;
}